<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>This is some helpful content.</p>
		</div>
	</body>
	<footer>
		{{>footer}}
	</footer>
</html>