<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>Use this site to get your weather!</p>
			<form>
				<input type="text"/>
				<button>Search</button>
				<p></p>
			</form>
		</div>
	</body>
	{{>script}}
	<footer>
		{{>footer}}
	</footer>
</html>