<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>Use this site to get your weather!</p>
		</div>
	</body>
	<footer>
		{{>footer}}
	</footer>
</html>